<div class="card" style="height: 135px;">
    <div class="card-header">
            <div class="white">
            {{product.productName  }}  <span *ngIf="productQuantityView!=0"> - {{productQuantityView}}</span>
        </div>
     
    </div>
    <div class="card-body">
        <div class="clearfix">
            <div class="pull-left card-body-left">
                <a href="#" class="white">
                </a>
            </div>
            <div class="pull-left card-body-right" style="width: -webkit-fill-available;">
                <div class="card-body-content" style="width: -webkit-fill-available;">Product Cost: {{product.itemCost}}</div>
                
            

                <a *ngIf="!productToBuy" (click)="BuyProductState()">Order Product</a>

                <div *ngIf="productToBuy">
                    <div >
                        product Quantity :
                        <input type="text" name="add"
                        [(ngModel)]="productQuantityValue" 
                        (keyup)="quantityChanged($event)" style="width: 75px;"  /> 
                    </div>
                    <button type="submit" class="btn btn-success" (click)="addToCart()">Add</button>
                    <button type="submit" class="btn btn-secondary" (click)="BuyProductState()" style="margin-left: 5px;">cancel</button>

                </div>

            </div>
        </div>
    </div>
</div>

 
